@model VideoRentalApp.Models.Customer
@{
    ViewBag.Title = "customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Name @Model.Family</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.NameOfType</li>
    @if (Model.Birthday.HasValue)
    {
        <li>Birthdate: @Model.Birthday.Value.ToShortDateString()</li>
    }
</ul>