@model IEnumerable<VideoRentalApp.Models.Customer>
    @{
        ViewBag.Title = "Customers";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <button type="button" class="btn btn-link" onclick="CustomerForm()">Add new customer</button>
    
<br />
<button type="button" class="btn btn-link" onclick="View()">Add new customer</button>
<br />

<h3>@Html.ActionLink("Add New Customer", "CustomerForm")</h3> 
    @if (!Model.Any())
    {
        <h3>There is no customer yet </h3>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Discount Rate</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var customer in Model)
                {
                    <tr>

                        <td>@Html.ActionLink(customer.Name, "Edit", "customer", new { id = customer.Id }, null)</td>
                        <td>@customer.MembershipType.NameOfType</td>


                    </tr>
                }


            </tbody>
        </table>
    }
