@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>personal website</h1>
    <p class="lead">Please click the button to go forward to the web site </p>
    <p><a href="http://www.ashian.id.ir" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

